@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');

html {
    font: normal 16px sans-serif;
    scroll-behavior: smooth !important;
    background-color: #F1DFB5;
}

h1.cabecera{
    font: bold 50px 'Inter';
    font-size: 60px;
    color:midnightblue;
    text-align: center;
    margin-bottom: 20px;

}
h2.cabecera{
    font-size: medium;
    text-align: center;

}
figure{
    display: flex;
    text-align: center;
    justify-content: center;
}
body div{
    display: flex;
    justify-content: space-between;
}

body section div div img.logo {
    padding: 0;
    margin: 0;
    width: 280px;
    height: auto;
    cursor: pointer;
}

body section div div img.logo:hover{
    transform: scale(1.1);
}


body section div nav ul{
    justify-content: right;
    display: flex;
    margin-top: 10px;
    list-style: none;
    font:normal 21px Inter;
}

body section div nav ul li{

    border-style: groove;
    border-width: thin;
    border-color: black;
    border-radius: 50px;
    background: #EFD9A0;
    margin-right: 12px;
    padding: 3px 15px;

}

body section div nav ul li.descargar{
    color: white;
    border-width: medium;
    background-color: #313E50;
    padding: 2px 25px;
    cursor: pointer;
}

body section div nav ul li.descargar:hover{
    transform: scale(1.1);
}

body section div nav ul li a{
    margin: fill;
    text-decoration: none;
    color: black;

}

a.descargar{
    color:white;
}
section.caracteristicas{
    background-color: #F8F4F8;
}

/* h1.caracteristicas{
    margin-top: 50px;
    color: #313E50;
    font-size:53px;
    text-align: center;
    top: 18%;
    left: 39%;
    transform: translateX(2%) translateY(-120%)
}



h2{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translateX(-120%) translateY(-7%);
}

h2.cabecera{
    font: normal 60px 'Inter';
    margin-bottom: 400px;
    color:black;

}


h3{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-7%);
}

h4{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translateX(-120%) translateY(-7%);
}

h5{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateX(-120%) translateY(-7%);
}

p{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translateX(-50%) translateY(-30%);
}

p1{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 38%;
    transform: translateX(-50%) translateY(-30%);
}

p2{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 62%;
    transform: translateX(-50%) translateY(-30%);
}

p3{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 84%;
    transform: translateX(-50%) translateY(-30%);
}

a.icono1 img{
    margin-top: 50px;

    top:35%;
    left:15%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono2 img{
    margin-top: 50px;

    top:35%;
    left:38%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono3 img{
    margin-top: 50px;
    position: absolute;
    top:35%;
    left:62%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono4 img{
    margin-top: 50px;
    position: absolute;
    top:35%;
    left:83%;
    transform: translateX(-50%) translateY(-40%);
} */



ul.caracteristicas{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul.caracteristicas li{
    margin-right: 20px;
    text-align: center;
}


ul.caracteristicas li p{
    text-align: center;
}

ul.caracteristicas li h2{
    text-align: center;

}

h1.caracteristicas{
    margin-top: 50px;
    color: #313E50;
    font-size:53px;
    text-align: center;
    background-image: url("encabezado.png");
    padding-top: 80px;

}


section.footer h1{
    color: #313e50;
    font-size: 50px;
    text-align:center;
    margin-bottom: 0;
}
section.footer p{
    color:#313e50;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}
a.contenedor1 img{


}
a.contenedor2 img{


}

section.footer ul{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    
}

section.footer {
    color: transparent;

}

