@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');

*{
    margin:0;
    padding:0;
}

html {
    font: normal 16px sans-serif;
    scroll-behavior: smooth !important;
    background-color: #F1DFB5;
}

div{
    display: flex;
    justify-content: space-between;
}

img.logo {
    padding: 0;
    margin: 0;
    width: 280px;
    height: auto;
    cursor: pointer;
}

img.logo:hover{
    transform: scale(1.1);
}


ul{
    justify-content: right;
    display: flex;
    margin-top: 10px;
    list-style: none;
    font:normal 21px Inter;
}

li{

    border-style: groove;
    border-width: thin;
    border-color: black;
    border-radius: 50px;
    background: #EFD9A0;
    margin-right: 12px;
    padding: 3px 15px;

}

li.descargar{
    color: white;
    border-width: medium;
    background-color: #313E50;
    padding: 2px 25px;
    cursor: pointer;
}

li.descargar:hover{
    transform: scale(1.1);
}

a{
    margin: fill;
    text-decoration: none;
    color: black;

}

a.descargar{
    color:white;
}

/*Acá termina la parte de Valery*/


body{
    background-color: #F8F4F8;
}

h1{
    color: #313E50;
    font-size:53px;
    text-align: center;
    top: 18%;
    left: 39%;
    transform: translateX(2%) translateY(-120%)
}

h2{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translateX(-120%) translateY(-7%);
}

h3{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-7%);
}

h4{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translateX(-120%) translateY(-7%);
}

h5{
    color: #313E50;
    font-size:25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateX(-120%) translateY(-7%);
}

p{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translateX(-50%) translateY(-30%);
}

p1{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 38%;
    transform: translateX(-50%) translateY(-30%);
}

p2{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 62%;
    transform: translateX(-50%) translateY(-30%);
}

p3{
    color: #313E50;
    font-size:18px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 84%;
    transform: translateX(-50%) translateY(-30%);
}

a.icono1 img{
    position: absolute;
    top:35%;
    left:15%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono2 img{
    position: absolute;
    top:35%;
    left:38%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono3 img{
    position: absolute;
    top:35%;
    left:62%;
    transform: translateX(-50%) translateY(-40%);
}

a.icono4 img{
    position: absolute;
    top:35%;
    left:83%;
    transform: translateX(-50%) translateY(-40%);
 }
    
/*Acá terminar la parte de YANIRA*/
/*body{
    background: #f8f4f8;
}*/

h1.paleta{
    color: #313e50;
    font-size: 80px;
    text-align:center;
    position: absolute;
    top:38%;
    left:50%;
    transform: translateX(-50%) translateY(-40%);
}
p.parrafo{
color:#313e50;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top:95%;
    left:50%;
    transform: translateX(-50%) translateY(-40%);
}
a.contenedor1 img{
    position: absolute;
    top:60%;
    left:25%;

}
a.contenedor2 img{
     position: absolute;
     top:60%;
     left:46%;

 }  
    
    
    
    
